{% extends 'main/base.html'%}
{% load crispy_forms_tags %}

{% block header %}
    <nav class="navbar sticky-top justify-content-end">
        <a class="navbar-brand" href="{% url 'ivent-list' %}">события</a>
        <span class="navbar-text mr-3">|</span>
        <a class="navbar-brand" href="{% url 'register' %}">регистрация</a>
    </nav>
{% endblock header %}


{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Вход</legend>
            <!-- <div class="row">
                <div class="col-sm-6">
                {{ form.username|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                {{ form.password|as_crispy_field }}
                </div>
            </div> -->
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn--dark" type="submit">Войти</button>
        </div>
    </form>
</div>
{% endblock content %}