{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<nav class="navbar sticky-top justify-content-end">
    <a class="navbar-brand" href="{% url 'ivent-list' %}">события</a>
    <span class="navbar-text mr-3">|</span>
    <a class="navbar-brand" href="{% url 'login' %}">войти</a>
</nav>
{% endblock header %}


{% block content %}
<div class="content-section">
    <!-- <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Регистрация пользователя</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn-outline-dark" type="submit">Зарегистрироваться</button>
        </div>
    </form> -->
    {% crispy form %}
</div>
{% endblock content %}